  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo nav white-text text-darken-3"> CoverToCover</a>
<!--       <ul class="right hide-on-med-and-down">
        <li><a href="#">Bookclubs</a></li>
      </ul> -->

      <a class='dropdown-button btn right hide-on-med-and-down btn-adjust' href='#' data-activates='dropdown1' label='droptit'>Bookclubs</a>

    <ul id='dropdown1' class='dropdown-content'>

    <li><%= link_to "Mark Zuckerberg", bookclub_index_path %></li> 
    <li><%= link_to "Steve Jobs", bookclub_steve_path %></li>
    <li><%= link_to "Marc Andreessen", bookclub_marc_path %></li> 
    <li><%= link_to "Ben Horowitz", bookclub_ben_path %></li>
    <li><%= link_to "Larry Page", bookclub_larry_path %></li>
    <li><%= link_to "Jeff Bezos", bookclub_jeff_path %></li> 
    <li><%= link_to "Peter Thiel", bookclub_peter_path %></li> 
    <li><%= link_to "Bill Gates", bookclub_bill_path %></li> 
    <li><%= link_to "Oprah Winfrey", bookclub_oprah_path %></li> 
    <li class="divider"></li>
    <li><%= link_to "Top 100 All Time", bookclub_index_path %></li> 
    <li><%= link_to "NYT Best Seller", bookclub_index_path %></li> 
    </ul>



      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>